# Terraform state
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars

# Crash logs
crash.log
*.log

# Terraform directories 
.terraform/

# Terraform lock file
# terraform.lock.hcl

# Local override files
override.tf
override.tf.json
*_override.tf
*_overriade.tf.json

# Ignore the plan files
*.tfplan